.search__form {
    display:flex;
    flex-direction:row;
}

.search__form input {
    width: 608px;
    height: 64px;
    border: 1px solid #D1D2D6;
    border-radius: 100px;
    outline:none;
    padding-left: 24px;
}

.search__form input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}

@media screen and (max-width : 768px) {
    .search__form input {
        height: 52px;
        width: auto;
    }
}

@media screen and (max-width : 768px) {
    .search__form {
        flex-direction: column;
    }
    .search__form input {
        margin: 0;
    }
}
