.search__container {
    max-width: 608px;
    padding: 80px 0;
    margin: 0 auto;
    color: #fff;
}

@media screen and (max-width : 768px) {
    .search__container {
        padding: 36px 0 48px;
        max-width: 448px;
    }
}

@media screen and (max-width : 720px) {
    .search__container {
        padding: 30px 16px 32px;
    }
}