.user-greetings__msg {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    max-width: 530px;
    margin-bottom: 30px;
}

@media screen and (max-width : 950px) {
    .user-greetings__msg {
        font-size: 30px;
        line-height: 34px;
        max-width: 336px;
        margin-bottom: 16px;
    }
}