.mini-popup__close {
    width: 26px;
    position: absolute;
    top: -26px;
    right: -26px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .mini-popup__close {
      top: -43px;
      right: 21px;
    }
  }