.clients__title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-bottom: 24px;
}

@media screen and (max-width : 1024px) {
    .clients__title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width : 720px) {
    .clients__title {
        line-height: 40px;
    }
}