.header__link_inactive-white {
    color: #B6BCBF;
}

.header__link_inactive-white:hover {
    color: #fff;
}

@media screen and (max-width : 720px) {
    .header__link_inactive-white {
        color: #fff;
    }    
}