.github__title-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 104px 58px;
}

@media screen and (max-width : 1080px) {
    .github__title-wrapper {
        padding: 0 40px 25px 40px;
    }
}

@media screen and (max-width : 720px) {
    .github__title-wrapper {
        padding: 0 16px 16px;
    }
}