@import url(./_active/header__link_active.css);
@import url(./_inactive/header__link_inactive.css);
@import url(./_inactive-white/header__link_inactive-white.css);
@import url(./_white/header__link_white.css);

.header__link {
    margin-right: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    height: 98%;
}

@media screen and (max-width : 940px) {
    .header__link {
        margin-right: 16px;
        font-size: 16px;
        height: 104%;
    }
}

@media screen and (max-width : 720px) {
    .header__link {
        margin-top: 30px;
        margin-right: 0;
        margin-left: 16px;
        line-height: 56px;
    }
}