@import url(./_active/header__link_active.css);
@import url(./_inactive/header__link_inactive.css);
@import url(./_inactive-white/header__link_inactive-white.css);
@import url(./_white/header__link_white.css);
@import url(./_saved/header__link_saved.css);

.header__link {
    margin-right: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    height: 98%;
}

@media screen and (max-width : 940px) {
    .header__link {
        margin-right: 16px;
        font-size: 16px;
        height: 104%;
    }
}
