.github__button {
    display: none;
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 80px;
    background-color: transparent;
    height: 56px;
    width: 288px;
    margin: 53px auto 0;
}

@media screen and (max-width : 540px) {
    .github__button {
        display: inline-block;
    }
}