.card__saver {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    top: 24px;
    right: 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.bookmark-fill {
    fill: #2F71E5;
    stroke: #2F71E5;
}

.card__saver:hover {
    cursor: pointer;
}

.card__saver:hover .bookmark {
    stroke: #1A1B22;
}

@media screen and (max-width : 1000px) {
    .card__saver {
        top: 8px;
        right: 8px;
    }
}

