@import url(./__text/preloader__text.css);
@import url(./__notfound-title/preloader__notfound-title.css);
@import url(./__notfound-text/preloader__notfound-text.css);
@import url(./__notfound-img/preloader__notfound-img.css);
@import url(./__notfound-block/preloader__notfound-block.css);
@import url(./__await-block/preloader__await-block.css);
@import url(./__circle/preloader__circle.css);

.preloader {
	/* display: flex; */
	display: none;
	flex-direction: column-reverse;
	align-items: center;
	position: relative;
	margin: 0;
	min-height: 282px;
	background-color: #F5F6F7;
	overflow: hidden;
}








