.search-result-section__show-more {
    width: 288px;
    height: 64px;
    background: #fff;
    border-radius: 80px;
    border: 1px solid #fff;
    align-self: center;
    margin-top: 64px;
    margin-bottom: 80px;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}