.about-section__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.about-section__paragraph:not(:first-child) {
    margin-top: 24px;
}

@media screen and (max-width : 768px) {
    .about-section__paragraph:not(:first-child) {
        margin-top: 18px;
    }
}