.glide__bullet {
    background-color: #D1D2D6;
}

.glide__bullet:hover {
    background-color: #1A1B22;
    border-color: #1A1B22;
}

.glide__bullet:focus {
    background-color: #1A1B22;
    border-color: #1A1B22;
}

.glide__bullet--active {
    background-color: #1A1B22;
}

.glide__bullet[data-glide-dir="=3"] {
    display: none;
}
.glide__bullet[data-glide-dir="=4"] {
    display: none;
}

@media screen and (max-width : 500px) {
    .glide__bullet[data-glide-dir="=3"] {
        display: inline-block;
    }
    .glide__bullet[data-glide-dir="=4"] {
        display: inline-block;
    }
}

